{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}


    <h1>Profil</h1>
    <div class="content">
        {% include 'nav.html.twig' %}
        <h3>Mes informations</h3>
       {{ form(form)}}

        <a href="../public/index.php?route=deleteAccount">
            <button class="btn btn-lg btn-primary btn-block" id="delete-account"
                    onclick="return confirm('Etes-vous sur de votre choix ?')">Supprimer mon compte
            </button>
        </a>

    </div>

{% endblock %}