<form method="post" action="{{ path('ingredient_delete', {'id': ingredient_id, 'booking_id': booking_id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
    <button class="btn">Delete</button>
</form>
