<form method="post" action="{{ path('ingredient_delete', {'id': ingredient_id, 'booking_id': booking_id}) }}" onsubmit="return confirm('Êtes-vous sûr.e de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient_id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
