body {
    background-image: url("../img/fond.png");
    background-attachment: fixed;
    border-radius: 10px;
    padding: 150px;
}
body:before, body:after {
    content: "";
    position: fixed;
    z-index: 999;
    background: inherit;
    left: 0;
    right: 0;
    height: 150px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
.content {
    box-shadow: 0px 0px 8px 5px #222222;
    overflow: scroll;
    border-radius: 10px;
}
.content::-webkit-scrollbar {
    display: none;
}
.edit{
    background: url("../img/edit.png") no-repeat;
    background-size: cover;
}
.show-page{
    background: url("../img/show.png") no-repeat;
    background-size: cover;
}
.profil{
    background: url("../img/profil.png") no-repeat;
    background-size: cover;
}
.home{
    background: url("../img/home.png") no-repeat;
    background-size: cover;
}
.list{
     background: url("../img/list.png") no-repeat;
     background-size: cover;
 }
.panier{
    background: url("../img/panier.png") no-repeat;
    background-size: cover;
}
.new-page{
    background: url("../img/new.png") no-repeat;
    background-size: cover;
}
.profil h2{
    margin: 60px;
    text-align: center;
}
.info-profil{
    background-color: rgba(225, 225, 225, 0.5);
    margin-bottom: 30px;
}
.info-profil h3{
    font-weight: bold;
    margin-top: 30px;
}
.info-profil h4{
    text-decoration: underline;
}
.index-booking{
    margin-top: 100px;
}
table {
    border-collapse: collapse;
}
.td-list{
    vertical-align: middle!important;
}
.td-delete{
    width: 20px;
}
.zone-1-show{
     margin-bottom: 150px;
     margin-top: 50px;
 }
.txt-wht{
    color: white;
}
.title, .begin, .title-list{
    text-align: center;
}
ul{
    width: 100%;
    margin: 20px;
}
.td-ingredient{
    background-color: rgba(225, 225, 225, 0.7);
}
img {
    position: relative;
}
.carousel-caption p {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    padding: 10px;
}
.navbar {
    z-index: 1;
    display: flex;
    list-style: none;
    color: black;
    background-color: #FE9806;
}
.navbar a {
    color: black;
    margin-right: 20px;
}
.nav-link{
    color: black;
}
.buttons-zone {
    display: flex;
    align-items: center;
    margin: 50px;
}
input{
    border-radius: 5px;
}
label{
    margin: 5px;
}
.form-info{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form div{
    display: flex;
    flex-direction: column;
}
.ok-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
.btn-margin{
    margin-bottom: 50px;
}
.btn-back{
    margin: 15px;
}
.btn-home{
    margin-right: 20px;
}
th {
    background-color: #01AAAD;
}
.zone-calendar {
    display: flex;
    justify-content: center;
}
#second-week, #third-week, #fourth-week {
    visibility: hidden;
}
#calendar {
    margin-top: 20px;
    width: 80%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(100%);
}

.description{
    border-radius: 20px;
    margin-top: 100px;
    background-color: rgba(225, 225, 225, 0.8);
    font-size: 15px;
}
strong{
    color: #fa7921;
}
.zone-home, .zone-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fc td {
    background-color: rgba(254, 152, 6, 0.55);
}
.fc-time{
    display : none;
}
.fc-content {
    background-color: #01AAAD;
}
.title-menu{
    width: 150px;
    margin: 15px;
}
.title-home{
    margin-top: 100px;
}
.title-list, .title-home{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding:10px;
}
.save{
    width: 120px;
    text-align: center;
    margin: 15px;
}
.date-list{
    display: flex;
    flex-direction: column;
}
hr{
    width: 100%;
}
#title-edit{
    margin-top: 0;
    text-align: center;
}
#zone_meteo{
    background-color: rgba(225, 225, 225, 0.8);
    padding: 10px;
    border-radius: 10px;
    width: 150px;
}
@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    body:before, body:after {
        content: normal;
    }

    .description {
        margin-top: 50px;
    }
}
@media screen and (max-width: 425px) {
    .home{
        background-image: url("../img/home-mini.png");
    }
    .btn-zone-calendar {
        display: flex;
        flex-direction: column;
    }
    .btn-calendar{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

