body {
    background-image: url("../img/test.png");
    background-attachment: fixed;
    border-radius: 10px;
    padding: 150px;
}

body:before, body:after {
    content: "";
    position: fixed;
    z-index: 999;
    background: inherit;
    left: 0;
    right: 0;
    height: 150px; }

body:before {
    top: 0;
}

body:after {
    bottom: 0;
}
.content{
    background-color: rgba(255, 221, 173, 0.7);
    box-shadow: 8px 8px 8px 5px #222222;
    overflow: scroll;
    border-radius: 10px;
}
.content::-webkit-scrollbar {
    display: none;
}


.date, .menu{
    border: black solid 2px;
}

table{
    border-collapse: collapse;
}
.menu{
    width: 200px;
    height: 200px;
    text-align: center;
    color: white;
}
.menu p{
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    color: white;
}
img{
    position: relative;
}
.carousel-caption p{
    background-color:  rgba(0, 0, 0, .4);
    border-radius: 5px;
    padding: 10px;
}
.carousel-inner{
    border: 2px solid black;
}
.navbar{
    display: flex;
    list-style: none;
    color: black;
    background-color: #FE9806;
}
.navbar a{
    color: black;
}
.buttons-zone{
    text-align: center;
    margin-top: 100px;
}
th{
    background-color: #01AAAD;
}
.zone-calendar{
    display: flex;
    justify-content: center;
}
.date{
     background-color: #5E8B8D;
}
#second-week, #third-week, #fourth-week{
    visibility: hidden;
}
#calendar{
    margin-top: 20px;
    width: 80%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    filter: invert(100%);
}
.description{
    text-align: center;
    margin-top: 100px;
}
