{# templates/booking/calendar.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="btn-zone-calendar">
        <a href="{{ path('booking_index') }}">
            <button type="submit" class="btn btn-warning">Liste des repas</button>
        </a>
        <a href="{{ path('booking_new') }}">
            <button type="submit" class="btn btn-warning btn-calendar">Ajouter un nouveau plat</button>
        </a>
        <a href="{{ path('home') }}">
            <button type="submit" class="btn btn-warning">Retour à l'accueil</button>
        </a>
    </div>
    <div id="calendar-holder"></div>

    {% block stylesheets %}
    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', () => {
            let calendarEl = document.getElementById('calendar-holder');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                locale: 'fr', // https://fullcalendar.io/docs/plugin-index
                header: {
                    left: '',
                    center: 'title',
                    right: 'prev,next today',
                },
                buttonText: {
                    today: 'aujourd\'hui',
                    month: 'mois',
                    week: 'semaine',
                    listWeek: 'liste',

                },

                timeZone: 'UTC',
            });
            calendar.render();
        });
    </script>
{% endblock %}
