{% extends 'base.html.twig' %}

{% block title %}Ma liste de courses{% endblock %}

{% block body %}
    <div class="content">
        {% include 'nav.html.twig' %}
    <h1>Ma liste de courses</h1>
    <table class="table">
        <tbody>
            {% for ingredient in ingredients  %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.quantity_sum }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    </div>
{% endblock %}