{% extends 'base.html.twig' %}

{% block title %}Nouveau repas{% endblock %}

{% block body %}
    <h1>Nouveau plat</h1>
    <div class="content new-page">
        {{ include('booking/_form.html.twig') }}
        <div class="container"><a href="{{ path('booking_index') }}"><button type="button" class="btn btn-warning btn-back">Retour à la liste</button></a></div>
    </div>
{% endblock %}
