{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}

    <div class="content">
        {% include 'nav.html.twig' %}

        <div class="zone-calendar">
            <div id="calendar"></div>
        </div>

    </div>

    <script src="fullcalendar/core/main.js"></script>
    <script src="fullcalendar/daygrid/main.js"></script>
    <script src="fullcalendar/list/main.js"></script>
    <script src="js/calendar.js"></script>
{% endblock %}