{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h1>smart cooking</h1>
    <div class="content">{% include 'nav.html.twig' %}
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/01.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Entrez vos repas et les ingrédients nécessaires à la date voulue</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/02.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Votre liste de courses est générée.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/03.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Retrouvez vos idées repas au quotidien en consultant votre calendrier.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <p class="description">Organisez vos repas à l'aide d'un calendrier en ligne. </p>
        <div class="buttons-zone" id="home-btn">
            <a href="../inscription"><button type="button" class="btn btn-outline-info">Commencer</button></a>
            <a href="../login"><button type="button" class="btn btn-outline-info">Se connecter</button></a>
        </div>
        <img src="img/02.jpg" class="d-block w-100" alt="...">


{% endblock %}