{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <h1>Profil</h1>
    <div class="content">{% include 'nav.html.twig' %}
        <h3>Mes informations</h3>
        <p>{{ app.user.name }}</p>
        <p>{{ app.user.email }}</p>
        <a href="#">Modifier mon mot de passe</a>
        <a href="#">Supprimer mon compte</a>

    </div>

{% endblock %}